<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cmainclient01.sys.mapper.TradeObjectMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.cmainclient01.sys.entity.TradeObject">
        <id column="OBJECT_ID" property="objectId" />
        <result column="OBJECT_NAME" property="objectName" />
        <result column="OBJECT_SIGN" property="objectSign" />
        <result column="OBJECT_TYPE" property="objectType" />
        <result column="TRADE_TYPE" property="tradeType" />
        <result column="CREATE_USER" property="createUser" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="CREATE_ID" property="createId" />
        <result column="TRADE_CODE" property="tradeCode" />
    </resultMap>

</mapper>
